<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      bear's presentations
    </title>
    <meta name="author" content="Mike Taylor" />
    <meta name="keywords" content="bear,mike,taylor" />
    <meta name="keywords" content="English,USA,Philadelphia,Pennsylvania" />
    <meta name="description" content="bear's presentations" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Open+Sans:400italic,600italic,400,600"
      rel="stylesheet" type="text/css"/>
    <link href="/css/bearlog.css"
      rel="stylesheet" type="text/css"/>
  </head>
  <body>
  <header class="page-header">
    <div class="page-logo">
      <a href="/bearlog" title="home"><img src="/images/bear_with_stein_180.png" alt="Bear with beer stein"/></a>
    </div>
    <div class="page-title">
      <h1>Bear's Presentations</h1>
      <h2>Places where bear has rambled</h2>
    </div>
  </header>

  <div class="page-content">
    <article class="post">
      <h2>
        <a href="http://www.developerweek.com">Developer Week 2016</a>
      </h2>
      <p>
        <a href="http://embed.bonfyreapp.com/embed/agenda/7d9083ec2502b7427ce6380556ac24cc/session/AuRE_uvh3P-qy4OtU6_eKA**">Module Lifecycle: How to Test and Deploy Your Python Web App</a> -- <a href="https://github.com/bear/PythonFlaskTesting">Slides and Resources</a>
      </p>
    </article>
    <article class="post">
      <h2>PhillyPUG May 2011</h2>
      <p>
        <a href="/presentations/xmpp-prosody.html">XMPP Prosody Server Install</a>
      </p>
    </article>
  </div>
  <hr/>
  <footer>
    <div class="h-card">
      <ul class="about">
        <li><a href="/"><img class="u-photo" src="/images/bear_145x145.jpg" height="42" width="42"/></a></li>
        <li>&copy; 2003-2022 by <a class="p-name u-url" href="/">Mike Taylor</a></li>
      </ul>
      <ul class="license">
        <li><a xmlns:cc="//creativecommons.org/ns#"
               property="cc:attributionName"
               rel="cc:attributionURL"
               href="//creativecommons.org/licenses/by-sa/3.0/us/">
              <img src="//i.creativecommons.org/l/by-sa/3.0/us/88x31.png"
                   alt="Creative Commons Attribution-ShareAlike 3.0 United States"/>
            </a></li>
        <li>
            <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/us/">
              Creative Commons Attribution-ShareAlike 3.0 United States
            </a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>
