<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Does a bear code in the woods?</title>

  <meta name="description"            content="the babbling of a coder and cat herder"/>
  <meta name="author"                 content="bear"/>
  <meta name="viewport"               content="width=device-width, initial-scale=1.0"/>
  <meta name="mobile-web-app-capable" content="yes"/>

  <link rel="feed"                   href="{{ config.BASE_URL }}/bearlog" type="text/html"/>
  <link rel="webmention"             href="{{ config.BASE_URL }}/webmention"/>
  <link rel="micropub"               href="{{ config.BASE_URL }}/micropub"/>
  <link rel="token_endpoint"         href="{{ config.BASE_URL }}/token"/>
  <link rel="authorization_endpoint" href="{{ config.BASE_URL }}/auth"/>
  <link rel="hub"                    href="{{ config.BASE_URL }}/websubhub"/>
  <link rel="self"                   href="{{ config.BASE_URL }}"/>

  <link rel="manifest" href="/images/bear_manifest.json">
  <link rel="shortcut icon"    sizes="128x128" href="/images/bear_128x128.jpg"/>
  <link rel="apple-touch-icon" sizes="57x57"   href="/images/bear_apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"   href="/images/bear_apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="/images/bear_apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76"   href="/images/bear_apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/bear_apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/bear_apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/bear_apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/bear_apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/bear_apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/bear_android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"   href="/images/bear_favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96"   href="/images/bear_favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16"   href="/images/bear_favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/bear_ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="/css/bear.css" rel="stylesheet"/>
</head>
<body>
  <div id="header">
    <h2 id="quote-1">
      The great way is very level and easy<br/>
      but people love the by-ways<sup><a href="#footnote-1">1</a></sup>
    </h2>
  </div>
  <div class="h-card">
    <div id="content">
      <p>Professional curmudgeon and Operations Advocate.</p>
      <p>My current $dayjob is manager of the Site Reliability Engineering team at <a href="https://circleci.com">CircleCI</a>.</p>
      <p>I am active with the <a href="http://xmpp.org">XMPP Software Foundation</a> where I served on the Board of Directors from 2010 to 2014 and now again for 2016.</p>
      <p><a href="http://xmpp.org">XMPP</a>;
         <a href="http://indiewebcamp.com">IndieWeb</a>;
         Open [Social, Data, Source];
         <a href="http://gazela.org/">Tall Ships</a>
         and Cats</p>
      <p>Python, NodeJS, Ruby, Bash, C; Linux, OS X, BSD, Windows</p>
      <h3>History</h3>
      <p>2012 &dash; 2015: &amp;yet - Operations Manager.</p>
      <p>2010 &dash; 2012: Mozilla - Build/Release team.</p>
      <p>2009 &dash; 2010: Seesmic - Operations.</p>
      <p>2007 &dash; 2009: Open Source Applications Foundation - Build/Release.</p>
      <p>1999 &dash; 2007: UT&amp;I Solutions - Systems Analyst, Senior Developer.</p>
      <p>1996 &dash; 1999: Malvern Scale Data Systems - Senior Developer, Build/Release.</p>

      <h3>GPG Key</h3>
      <pre><code>
  <a href="pubkey.txt">0A93 9BA7 8203 FCBC 58A9  E8B5 9D1E 0661 8EE5 B4D8</a>
  sec 4096R/8EE5B4D8 2013-01-31
  uid                Mike Taylor (bear) &lt;bear@code-bear.com&gt;
  uid                Mike Taylor (bear) &lt;bear42@gmail.com&gt;
  uid                Mike Taylor (bear) &lt;bear@bear.im&gt;
  uid                Mike Taylor (bear) &lt;bear@circleci.com&gt;
  sub 4096R/9ADFA04F 2013-01-31
      </code></pre>
      <p>Expired GPG Key <a href="pubkey_old.txt">pubkey_old.txt</a> fingerprint 1E32 1FB3 8D83 57F6 BB5A  5CB9 777B BB86 AAA5 F23B</p>
    </div>

    <div id="menu">
      <p><img class="u-photo" src="/images/bear_145x145.jpg" alt="photo of bear"/></p>
      <p><a href="mailto:bear@bear.im" title="email: bear at bear.im" rel="me" class="u-email">
            <img src="/images/email.gif" 
                 alt="mailto:bear@bear.im" style="border:0" /></a></p>
      <p><a href="https://bear.im" class="u-url u-uuid">
            <img class="centered" src="/images/hcard.gif"
                 alt="Mike Taylor" title="Mike Taylor" style="border:0" /></a></p>
      <p><a href="xmpp://bear@bear.im" title="xmpp: bear at bear.im" rel="me" class="u-url">
            <img class="centered" src="/images/xmpp-small.png"
                 alt="xmpp:bear@bear.im" style="border:0" /></a></p>
      <p><a href="/bearlog" rel="feed">the bearlog</a></p>
      <p><a href="/code">code</a></p>
      <p><a href="/presentations">presentations</a></p>
      <p><a href="https://github.com/bear" rel="me" class="u-url">GitHub</a></p>
      <p><a href="https://twitter.com/codebear" rel="me" class="u-url">Twitter: @<span class="p-nickname">codebear</span></a></p>
      <p><a href="https://plus.google.com/+MikeTaylor" rel="me" class="u-url"y>Google+</a></p>
      <p><small><span class="p-nickname">bear</span> is located near
         <span class="p-locality">Philadelphia</span> in the
         <span class="p-country-name">United States</span>
         <data class="p-tz" value="-0400">EDT</data></small>
      </p>
      <p><span class="p-x-pronoun-nominative">he</span> /
         <span class="p-x-pronoun-oblique">him</span> /
         <span class="p-x-pronoun-possessive">his</span>
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/"
           title="Creative Commons License">
          <img src="/images/somerights20.gif" alt="Creative Commons License" style="border:0" />
        </a>
      </p>
      <p id="copyright">&copy; 2003-2022 by <a href="https://bear.im" rel="me" class="p-name u-url">Mike Taylor</a></p>
      <p><a href="/privacypolicy">Privacy Policy</a></p>
    </div>
  </div>

  <hr/>
  <footer>
    <div id="footnotes">
      <p id="footnote-1"><small><strong><a href="/#quote-1">1</a></strong> From the <emphasis>Tao Te Ching</emphasis> by Lao Tzu.</small></p>
    </div>
  </footer>

<!-- /Creative Commons License -->
<!--
<rdf:RDF xmlns="http://web.resource.org/cc/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <Work rdf:about="">
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
    <license rdf:resource="http://creativecommons.org/licenses/by-nc-sa/2.0/" />
  </Work>
  <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/2.0/">
    <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
    <permits rdf:resource="http://web.resource.org/cc/Distribution" />
    <requires rdf:resource="http://web.resource.org/cc/Notice" />
    <requires rdf:resource="http://web.resource.org/cc/Attribution" />
    <prohibits rdf:resource="http://web.resource.org/cc/CommercialUse" />
    <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
    <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
  </License>
</rdf:RDF>
-->
</body>
</html>
